body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buttonClick{

  display: flex;
  justify-content: center;
}

.list{
  background-color: aqua;
  border: 3px solid black;
 
}
.edit{
  background-color: grey;
  /* visibility: hidden; */
}
.edit:hover{
  cursor: pointer;
}

.cards{
  border: 1px solid grey;
  width: 200px;
  padding-top: 5px;
}
.del{
  height: 30px;
}

.addCard{
  cursor: pointer;
  width: 200px;
  margin-top:10px;
}

.addCard:hover{
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.addList{

  background-color: lightgrey;
  border: 1px solid lightgrey;
  width: 200px;
  height: 50px;
}
.addList:hover{
  cursor: pointer;
}

.buttons{
  margin-bottom: 5px;
}

.list-title{
  display: none;
}

.card-add-area{
  width:200px;
  display: none;
}

.edit-area{
  width: 200px;
  display: none;
}
